{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<h1 style="width: 100%; margin: 20px; text-align: center">New PC</h1>

<hr>

<form action="{% url 'pcconfig:createPC' %}" method="POST">
    <div class="form-group">
        {% csrf_token %}
        <div class="form-group">
            <label for="CPU">CPU</label>
            <select class="form-control" name="CPU">
                {% for cpu in cpu_list %}
                <option value="{{ cpu.id }}">{{ cpu }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="RAM">RAM</label>
            <select class="form-control" name="RAM">
                {% for ram in ram_list %}
                <option value="{{ ram.id }}">{{ ram }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="GPU">GPU</label>
            <select class="form-control" name="GPU">
                {% for gpu in gpu_list %}
                <option value="{{ gpu.id }}">{{ gpu }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="Motherboard">Motherboard</label>
            <select class="form-control" name="Motherboard">
                {% for motherboard in motherboard_list %}
                <option value="{{ motherboard.id }}">{{ motherboard }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="Storage">Storage</label>
            <select class="form-control" name="Storage">
                {% for storage in storage_list %}
                <option value="{{ storage.id }}">{{ storage }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group" style="display: flex; justify-content: space-around; margin: 40px">
            <a href="{% url 'pcconfig:home' %}" type="button" class="btn btn-secondary">
                Back
            </a>
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </div>
</form>

{% endblock %}